* {
    box-sizing: border-box;
    
}

html {
    line-height: 1.6;
    color: $clr4;
     scroll-behavior: smooth;
}
    
body {
    max-width: 100vw;
    margin: 0 auto;

    // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Open Sans Hebrew', 'Open Sans', sans-serif;
    font-size: rem(18px);
    // background: #dcdcdc;
    // background: $clr4;
    background-color: #ECEFF3;
}

html, body {
    direction: rtl;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

// a:hover {
//     text-decoration: underline;

// }

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}