.slider-container {
  max-width: rem(900px);
  margin: 1rem auto;
}

// .slide {
//   height: 400px;
// }

.slide img {
  width: 100%;
  height: 100%;
}

.slide img {
  transition: transform 0.4s ease;
}

.slide img:hover {
  transform: scale(1.03);
}
